.site-header {
  background-color: var(--color-primary);
  border-top: 0.5rem solid var(--color-secondary);
  color: var(--color-white);
  grid-area: header;
  padding-block: 1rem;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a[title='Home'] {
    flex-direction: column;
    color: var(--color-black);
    font-family: var(--font-heading);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    margin-block: 1rem;
    order: 0;
    text-align: center;
    // text-shadow: 0.25rem 0.25rem var(--color-primary-dark);

    @media (min-width: $breakpoint-lg) {
      order: 1;
    }

    strong {
      font-size: 6rem;

      &::before {
        content: '-';
      }

      &::after {
        content: '-';
      }

      span {
        color: var(--color-white);
        font-size: 4rem;
        letter-spacing: -0.875rem;
        position: relative;
        top: -1rem;
      }
    }
  }
}
