.site-header {
  background-color: var(--color-primary);
  border-top: 1em solid var(--color-secondary);
  color: var(--color-white);
  grid-area: header;
  padding-block: 1rem;

  a[title='Home'] {
    color: var(--color-secondary);
    font-family: var(--font-heading);
    font-size: 3.25rem;
    font-weight: normal;
    line-height: 1;
    margin-block: 1rem;
    text-align: center;
    text-shadow: 0.25rem 0.25rem var(--color-primary-dark);
  }

  &__about-us p {
    font-weight: 500;
    font-family: var(--slab-font);
    font-size: 1.25rem;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }

  &__hours p,
  &__contact p {
    margin: 0;
    margin-block-end: 0.25rem;

    @media (min-width: $breakpoint-md) {
      margin-block-end: 0.5rem;
    }
  }
}
