.site-header {
  background-color: var(--color-primary);
  border-top: 0.5rem solid var(--color-secondary);
  color: var(--color-white);
  grid-area: header;
  padding-block: 1rem;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a[title='Home'] {
    color: var(--color-secondary);
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-block: 1rem;
    text-align: center;
    text-shadow: 0.25rem 0.25rem var(--color-primary-dark);
  }
}
