.menu-toggle-button {
  background-color: transparent;
  background-image: url('../assets/images/menu_bg_splat.svg');
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: center;
  border-radius: 50%;
  border: 0;
  bottom: 2rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 4rem;
  right: 2rem;
  overflow: hidden;
  // outline: 2px dashed lime;
  position: fixed;
  text-indent: -100vw;
  transition: scale 300ms;
  width: 4rem;
  z-index: 1000;

  @media (min-width: $breakpoint-md) {
    display: none;
  }

  &::before,
  &::after,
  span {
    background-color: var(--color-white);
    border-radius: 2px;
    content: '';
    display: block;
    height: 3px;
    left: 16px;
    opacity: 1;
    position: absolute;
    rotate: 0deg;
    scale: 1;
    top: 26px;
    transition: top 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0s 300ms;
    transform-origin: center;
    width: 28px;
  }

  // &:hover {
  // }

  span {
    top: 34px;
    transform-origin: left;
    width: 22px;
  }

  &::after {
    top: 42px;
  }

  &[aria-expanded='true'] {
    scale: 1.2;

    &::before,
    &::after,
    span {
      transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
    }

    &::before {
      top: 34px;
      rotate: 45deg;
    }
    &::after {
      top: 34px;
      rotate: -45deg;
    }

    span {
      opacity: 0;
    }
  }
}
