---
pagination:
  data: pages
  size: 1
  alias: pages
permalink: 'pages/{{ pages.title.rendered | slug }}/'
layout: layouts/base.njk
---

<div class="wrapper">
  <h1>{{ pages.title.rendered }}</h1>
  {{ pages.content.rendered | safe }}
</div>
