---
pagination:
  data: posts
  size: 1
  alias: posts
permalink: 'posts/{{ posts.title.rendered | slug }}/'
layout: layouts/base.njk
---

<div class="wrapper">
  <h1>{{ posts.title.rendered }}</h1>
  <div class="mainContent">
    {{ posts.content.rendered | safe }}
  </div>
</div>
