<section class="artists">
  <h2>Artists</h2>
  <ol>
    {%- for item in artists %}
      <li>
        <a href="/artists/{{ item.title.rendered | slug }}">
          {{ item.title.rendered }}</li>
      </a>
    {% endfor -%}
  </ol>
</section>