<footer>
  <div class="wrapper">
    <p class="text-center">@copyright {% currentYear %} {{ fus.name }}.com</p>

    {% include "./primary-navigation.njk" %} {% include
    "./secondary-navigation.njk" %}
  </div>
</footer>
