<header class="site-header">
  <div class="wrapper">
    <a href="/" title="Home">
      <strong>Fu<span>'</span>s</strong>
      <span>Custom Tattoo</span>
    </a>
    {% include "./primary-navigation.njk" %} {% include
    "./secondary-navigation.njk" %}
  </div>

  {% include "./menu-button.njk" %}
</header>
