<section class="instagram">
  <ul>
    {%- for item in instagram %}
    <li>
      <a href="{{ item.permaLink | safe }}">
        <img src="{{ item.mediaUrl }}" alt="" />
      </a>
    </li>
    {% endfor -%}
  </ul>
</section>
