<section class="pages">
  <ol>
    {%- for item in collections.pages %}
      <li>
        <a href="/pages/{{ item.title.rendered | slug }}">
          {{ item.title.rendered }}</li>
      </a>
    {% endfor -%}
  </ol>
</section>