<nav aria-label="Primary" data-mobile-nav-open="false" id="primary-navigation">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      Artists
      <ul>
        {% include "./artists.njk" %}
      </ul>
    </li>
    {%- for item in artist.items %}
    <li>
      <a href="">{{ item.title | safe }}</a>
    </li>
    {% endfor -%}
  </ul>
</nav>
