<nav aria-label="Primary" data-mobile-nav-open="false" id="primary-navigation">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    {%- for item in pages.items %}
    <li>
      <a href="">{{ item.title.rendered | safe }}</a>
    </li>
    {% endfor -%}
  </ul>
</nav>
