<nav aria-label="Secondary">
  <ul>
    <li class="instagram">
      <a
        href="{{ fus.instagram }}"
        class="icon-link instagram"
        title="Instagram"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="phone">
      <a
        href="tel:{{ fus.phone }}"
        class="icon-link phone"
        title="Call Us"
        target="_blank"
        >{{ fus.phone }}</a
      >
    </li>
    <li class="email">
      <a
        href="mailto:{{ fus.email }}"
        class="icon-link email"
        title="Email Us"
        target="_blank"
        >{{ fus.email }}</a
      >
    </li>
  </ul>
</nav>
