<nav aria-label="Secondary">
  <ul>
    <li class="instagram">
      <a
        href="{{ site.contact.instagram }}"
        class="icon-link instagram"
        title="Instagram"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="phone">
      <a
        href="tel:{{ site.contact.phone }}"
        class="icon-link phone"
        title="Call Us"
        target="_blank"
        >{{ site.contact.phone }}</a
      >
    </li>
  </ul>
</nav>
