<nav aria-label="Secondary">
  <ul>
    <li class="instagram">
      <a
        href="{{ fus.contact.instagram }}"
        class="icon-link instagram"
        title="Instagram"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="phone">
      <a
        href="tel:{{ fus.contact.phone }}"
        class="icon-link phone"
        title="Call Us"
        target="_blank"
        >{{ fus.contact.phone }}</a
      >
    </li>
    <li class="email">
      <a
        href="mailto:{{ fus.contact.email }}"
        class="icon-link email"
        title="Email Us"
        target="_blank"
        >{{ fus.contact.email }}</a
      >
    </li>
  </ul>
</nav>
